---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col items-center justify-center h-screen dark:bg-black">
    <p class="text-9xl">🫖</p>
    <h1 class="text-7xl pt-5 dark:text-white">I'M A TEAPOT</h1>
  </div>
</Layout>

<style>
  body {
    font-family: "Reddit Mono Variable", monospace;
  }
</style>
