---
import "./src/styles/global.css";
import "@fontsource/reddit-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <title>I'M A TEAPOT</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
